.page {
    margin: auto;
    padding: 28px 0 24px;
	position: relative;
    width: 1280px;
    background: #2A2C2F;
}

.header {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    max-width: 1184px;
    margin: 0 48px 0;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
}

.header__logo {
    width: 176px;
    height: 52px;
    margin-right: auto;
}

.header__lang-link {
    -ms-grid-column-align: end;
        justify-self: end;
    -ms-flex-item-align: end;
        -ms-grid-row-align: end;
        align-self: end;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 28px;
    -webkit-text-decoration-line: none;
            text-decoration-line: none;
    color: #FFFFFF;
}

.header__lang-link:hover {
    opacity: 0.4;
    -webkit-transition: 0.8s;
    -o-transition: 0.8s;
    transition: 0.8s;
}

.header__lang-link_underline {
    margin-top: 2px;
    border-bottom: 2px solid #ffffff;
}

.header__lang-link:nth-child(2) {
    margin-right: 18px;
}

.lead {
    width: 984px;
    height: 1005px;
    margin: 56px 148px 92px;
}

.lead__title {
    margin: auto;
    width: 720px;
    height: 200px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 900;
    font-size: 96px;
    line-height: 100px;
    text-align: center;
    color: #FFFFFF;
}

.lead__subtitle {
    margin: 32px auto 64px;
    width: 640px;
    height: 72px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 30px;
    line-height: 36px;
    text-align: center;
    color: #FFFFFF;
}

.lead__image {
    width: 984px;
    height: 615px;
}

.lead__caption {
    margin: 8px 0 0;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 10px;
    line-height: 14px;
    letter-spacing: 1.5px;
    text-transform: uppercase;
    color: #FFFFFF;
}

.intro {
    margin: 114px auto 92px;
    max-width: 690px;
    padding: 0;
    margin-left: calc((100% - 984px)/2);
}

.intro__title {
    font-family: 'Inter';
    font-style: normal;
    padding: 0;
    margin: 0;
    margin-right: auto;
    font-weight: 900;
    font-size: 54px;
    line-height: 58px;
    color: #FFFFFF;
}

.intro__text {
    margin: 40px auto 33px;
    padding: 0;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 163%;
    color: #FFFFFF;
}

.intro__lists {
    margin: auto;
    padding: 0;
    font-family: 'Inter';
    font-style: normal;
    list-style: none;
    font-weight: 700;
    font-size: 12px;
    line-height: 18px;
    color: #FFFFFF;
}

.photo-grid {
    margin: auto;
    display: -ms-grid;
    display: grid;
    width: 1148px;
    grid-template-columns: repeat(auto-fit, minmax(248px, 1fr));
    -ms-grid-rows: auto;
    grid-template-rows: auto;
    gap: 16px;
}

.photo-grid__item {
    width: 100%;
    -o-object-fit: cover;
       object-fit: cover;
}

.places {
    margin: 92px auto 0;
    width: 928px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;  
}

.place {
    margin-bottom: 80px;
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 460px 40px 484px;
    grid-template-columns: 460px 484px;
    -ms-grid-rows: auto 48px auto;
    grid-template-rows: repeat(2, auto);
    grid-row-gap: 48px;
    grid-column-gap: 40px;
}.place > *:nth-child(1) {
    -ms-grid-row: 1;
    -ms-grid-column: 1;
}.place > *:nth-child(2) {
    -ms-grid-row: 1;
    -ms-grid-column: 3;
}.place > *:nth-child(3) {
    -ms-grid-row: 3;
    -ms-grid-column: 1;
}.place > *:nth-child(4) {
    -ms-grid-row: 3;
    -ms-grid-column: 3;
}

.place__title {
    margin: 0;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 900;
    font-size: 72px;
    line-height: 76px;
    color: #FFFFFF;
}

.place__website {
    -ms-flex-item-align: end;
        -ms-grid-row-align: end;
        align-self: end;
}

.place__url-heading {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 12px;
    letter-spacing: 2px;
    color: #AAAAAA;
}

.place__link {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 22px;
    -webkit-text-decoration-line: underline;
            text-decoration-line: underline;
    color: #FFFFFF;
    -webkit-transition: 0.8s;
    -o-transition: 0.8s;
    transition: 0.8s;
}

.place__link:hover {
    opacity: 0.7;
}

.place__image {
    width: 100%;
    -o-object-fit: cover;
       object-fit: cover;
}

.place__paragraph {
    margin: 0 auto 26px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 163%;
    color: #FFFFFF;
}

.place:nth-child(5) {
    margin-bottom: 80px;
}

.cover {
    width: 1184px;
    background-size: cover;
    background-position: center;
    margin: auto;
    background-image: url(/images/cover-trains.jpg);
    padding: 0;
}

.cover__overlay {
    -webkit-text-decoration-line: none;
            text-decoration-line: none;
    width: 100%;
    min-height: 740px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-transition: 0.7s;
    -o-transition: 0.7s;
    transition: 0.7s;
    background-color: rgb( 42, 44, 47, 0.2);
}

.cover__overlay:hover {
    background-color: rgb( 42, 44, 47, 0.6);
}

.cover__title {
    margin: 0 auto;
    width: 560px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 900;
    font-size: 72px;
    line-height: 76px;
    text-align: center;
    color: #FFFFFF;
}

.cover__subtitle {
    margin: 32px auto 0;
    width: 360px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 22px;
    text-align: center;  
    color: #FFFFFF;
}

.footer {
    width: 1184px;
    margin: 92px auto 0;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
}

.footer__links {
    margin: 0;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    list-style: none;
}

.footer__link {
    margin-right: 18px;
    text-decoration: none;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 18px;
    color: #FFFFFF;
}

.footer__link:hover {
    opacity: 0.4;
    -webkit-transition: 0.8s;
    -o-transition: 0.8s;
    transition: 0.8s;
}

.footer__copyright {
    margin: 0;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 16px;
    text-align: right;
    color: #FFFFFF;
}